In [32]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv('Covid19_AR_data',index_col=[0,1])

In [34]:
df.head()

              new_confirmed_AR  tot_confirmed_AR
2020-03-09 1                 5               NaN
2020-03-10 1                 2               NaN
2020-03-11 1                 2               NaN
2020-03-13 1                 3               NaN
2020-03-15 1                11               NaN

In [35]:
df.tail()

              new_confirmed_AR  tot_confirmed_AR
2020-03-28 1                55               NaN
2020-03-29 1                75               NaN
           2                55             745.0
2020-03-30 1               146               NaN
           2                75             820.0

In [36]:
NaN_val = df['tot_confirmed_AR'].isna()

In [37]:
df[NaN_val]

              new_confirmed_AR  tot_confirmed_AR
2020-03-09 1                 5               NaN
2020-03-10 1                 2               NaN
2020-03-11 1                 2               NaN
2020-03-13 1                 3               NaN
2020-03-15 1                11               NaN
2020-03-27 1               101               NaN
2020-03-28 1                55               NaN
2020-03-29 1                75               NaN
2020-03-30 1               146               NaN

In [38]:
# --Replace NaN values in tot_confirmed by summing up to date the new cases
for index, row in df[NaN_val].iterrows():
    new_tot_val = df.loc[:index,'new_confirmed_AR'].sum()
    df.loc[index,'tot_confirmed_AR'] = int(new_tot_val)

5
7
9
12
23
839
920
995
1196

In [39]:
df['new/tot'] = np.round(df['new_confirmed_AR']/df['tot_confirmed_AR'], 2)

In [40]:
df.head()

              new_confirmed_AR  tot_confirmed_AR  new/tot
2020-03-09 1                 5               5.0     1.00
2020-03-10 1                 2               7.0     0.29
2020-03-11 1                 2               9.0     0.22
2020-03-13 1                 3              12.0     0.25
2020-03-15 1                11              23.0     0.48